header
.col-md-6(ng-repeat='t in subTemplates')
  .thumbnail(href='#')
    .row
      .col-md-5
        img(src='/images/some.png', alt='...')
      .col-md-5
        h4
          a(href='/template{{t.id}}/') {{t.name}}
        p.content(title='{{t.description}}') {{t.description | omitted : 55}}
        p.text-right
          a.btn.btn-primary(href='/template{{t._id}}/download/', target='_blank') 下 载

footer