.row
  .col-md-6
    h4.text-center  最新模板
    dl.dl-horizontal
      header(ng-repeat-start = 't in recent5')
      dt
        a(href='/template{{t._id}}/') {{t.name}}
      dd {{t.description}}
      footer(ng-repeat-end)
  .col-md-6
    h4.text-center 最热模板
    dl.dl-horizontal
      header(ng-repeat-start = 't in hot5')
      dt
        a(href='/template{{t._id}}/', data-toggle='modal', data-target='#modal') {{t.name}}
      dd {{t.description}}
      footer(ng-repeat-end)

.row
  table.table.col-md-12
    caption
      input.form-control(type='text', ng-model='query', ng-change='search()', placeholder='Search in {{items.length}} templates...', autofocus, style='width:25%;')
    thead
      tr
        th.width80 名称
        th 描述
        th 作者
        th.width80 分类
        th 创建
        th 更新
    tbody
      tr(ng-repeat='item in pagedItems[currentPage]')
        td
          a(href='/template{{item._id}}/') {{item.name}}
        td(title='{{item.description}}') {{item.description}}
        td {{item.author}}
        td
          a(href='#', ng-click='$parent.query = "{{item._category}}"; $parent.search();') {{item._category}}
        td {{item.created | date:'yyyy-MM-dd HH:mm:ss Z'}}
        td {{item.updated | date:'yyyy-MM-dd HH:mm:ss Z'}}
#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4#myModalLabel.modal-title Modal title
      .modal-body
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save


//- header(ng-repeat-start = 'st in sortedTemplates')
//- .q_title {{st.category}}
//-   small.pull-right 查看所有
//- .col-md-6(ng-repeat='t in st.templates')
//-   .thumbnail(href='#')
//-     .row
//-       .col-md-5
//-         img(src='/images/some.png', alt='...')
//-       .col-md-5
//-         h4 {{t.name}}
//-         p.content(title='{{t.description}}') {{t.description | omitted : 55}}
//-         p.text-right
//-           a.btn.btn-primary(href='/template{{t.id}}/download/', target='_blank') 下 载

//- .q_title 测试
//- .col-md-6
//-   .thumbnail(href='#')
//-     .row
//-       .col-md-5
//-         img(src='/images/some.png', alt='...')
//-       .col-md-5
//-         h5 Thumbnail label
//-         p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
//-         p
//-           a.btn.btn-primary(href='#') Button
//-           a.btn(href='#') Action
//- .col-md-6
//-   .thumbnail(href='#')
//-     .row
//-       .col-md-5
//-         img(src='/images/some.png', alt='...')
//-       .col-md-5
//-         h5 Thumbnail label
//-         p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
//-         p
//-           a.btn.btn-primary(href='#') Button
//-           a.btn(href='#') Action
footer(ng-repeat-end)