.row
  .col-md-6
    h4.text-center  最新模板
    dl.dl-horizontal
      header(ng-repeat-start = 'ts in sortedTemplates[1].templates')
      dt {{ts.name}}
      dd {{ts.description}}
      footer(ng-repeat-end)
  .col-md-6
    h4.text-center 最热模板
    dl.dl-horizontal
      header(ng-repeat-start = 'ts in sortedTemplates[0].templates')
      dt {{ts.name}}
      dd {{ts.description}}
      footer(ng-repeat-end)


header(ng-repeat-start = 'st in sortedTemplates')
.q_title {{st.category}}
  small.pull-right 查看所有
.col-md-6(ng-repeat='t in st.templates')
  .thumbnail(href='#')
    .row
      .col-md-5
        img(src='/images/some.png', alt='...')
      .col-md-5
        h4 {{t.name}}
        p.content(title='{{t.description}}') {{t.description | omitted : 55}}
        p.text-right
          a.btn.btn-primary(href='/template{{t.id}}/download/', target='_blank') 下 载

//- .q_title 测试
//- .col-md-6
//-   .thumbnail(href='#')
//-     .row
//-       .col-md-5
//-         img(src='/images/some.png', alt='...')
//-       .col-md-5
//-         h5 Thumbnail label
//-         p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
//-         p
//-           a.btn.btn-primary(href='#') Button
//-           a.btn(href='#') Action
//- .col-md-6
//-   .thumbnail(href='#')
//-     .row
//-       .col-md-5
//-         img(src='/images/some.png', alt='...')
//-       .col-md-5
//-         h5 Thumbnail label
//-         p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
//-         p
//-           a.btn.btn-primary(href='#') Button
//-           a.btn(href='#') Action
footer(ng-repeat-end)