extends layout
block body
  .main(style='margin-top: 70px;')
    .container(ng-controller = 'AppCtrl')
      .row
        .col-md-3
        .col-md-9
          .test 论坛
          .row
            .col-md-6
              .thumbnail(href='#')
                .row
                  .col-md-5
                    img(src='/images/some.png', alt='...')
                  .col-md-5
                    h5 Thumbnail label
                    p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
                    p
                      a.btn.btn-primary(href='#') Button
                      a.btn(href='#') Action
            .col-md-6
              .thumbnail(href='#')
                .row
                  .col-md-5
                    img(src='/images/some.png', alt='...')
                  .col-md-5
                    h5 Thumbnail label
                    p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
                    p
                      a.btn.btn-primary(href='#') Button
                      a.btn(href='#') Action

          .test 测试
          .row
            .col-md-6
              .thumbnail(href='#')
                .row
                  .col-md-5
                    img(src='/images/some.png', alt='...')
                  .col-md-5
                    h5 Thumbnail label
                    p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
                    p
                      a.btn.btn-primary(href='#') Button
                      a.btn(href='#') Action
            .col-md-6
              .thumbnail(href='#')
                .row
                  .col-md-5
                    img(src='/images/some.png', alt='...')
                  .col-md-5
                    h5 Thumbnail label
                    p A bunch of text will do here so about this thumbnail heading.  yep goes right here!
                    p
                      a.btn.btn-primary(href='#') Button
                      a.btn(href='#') Action
  script(src = 'components/angular/angular.js')
