extends layout
block body
  .main(style='margin-top: 70px;')
    .container(ng-controller = 'AppCtrl')
      .row
        .col-md-2
          ul.nav.nav-pills.nav-stacked(role='navigation', style='background-color: rgb(247, 245, 250);')
            li.active
              a(href='templates', ng-click='navClick($event);') Home
            li(ng-repeat='category in categories')
              a(href="subTemplates/{{category}}", ng-click='navClick($event);') {{category}}
        .col-md-10(ng-view)
          
  script(src = 'components/jquery/jquery.js')
  script(src = 'components/angular/angular.js')
  script(src = 'components/angular-route/angular-route.js')
  script(src = 'js/app.js')
  script(src = 'js/controllers.js')
  script(src = 'js/filters.js')
  script(src = 'js/util.js')
  script(src = 'bootstrap/js/bootstrap.js')
  script(src = 'components/angular-strap/dist/angular-strap.js')
