!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title SafeSiteX Templates Manager
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/components/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block body
