.q_title {
  color: #b8b8b8;
  font-size:28px;
  font-family: 'Open Sans',arial,sans-serif;
  text-shadow:0 1px rgba(255,255,255,0.8);
  font-weight:lighter;
  padding:10px 0 5px 10px;
  clear: both;
}

.q_title small {
  font-size: 20px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.content {
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-md-6 {
  margin-bottom: 10px;
}
